attrs==21.4.0
Automat==20.2.0
cffi==1.15.0
constantly==15.1.0
cryptography==36.0.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
pkg_resources==0.0.0
pycparser==2.21
pyOpenSSL==22.0.0
six==1.16.0
Twisted==22.2.0
typing_extensions==4.1.1
zope.interface==5.4.0
